<section class="sec1">
    <div class="container">
        <h1 class="text-center mt-3">Employee Details</h1>
        <div class="row mt-5">
            <div class="col-md-2"></div>
            <div class="col-md-8 text-center mb-5">
                <div class="table-responsive">
                    <table class="table table-bordered table-light table-hover">
                        <tbody *ngFor="let emp of empdata">
                            <tr>
                                <td colspan="3" class="text-center">
                                    Personal Info
                                </td>
                            </tr>
                            <tr>
                                <th>First Name</th>
                                <th>Last Name</th>
                                <th>Date of Birth</th>
                            </tr>
                            <tr>
                                <td>{{emp.firstName}}</td>
                                <td>{{emp.lastName}}</td>
                                <td>{{emp.dateOfBirth}}</td>
                            </tr>
                            <tr>
                                <td colspan="3" class="text-center">
                                    Contact Info
                                </td>
                            </tr>
                            <tr>
                                <th>Email</th>
                                <th>Username</th>
                                <th>Mobile Number</th>
                            </tr>
                            <tr>
                                <td>{{emp.email}}</td>
                                <td>{{emp.username}}</td>
                                <td>{{emp.mobileNumber}}</td>
                            </tr>
                            <tr>
                                <td colspan="3" class="text-center">
                                    Address Info
                                </td>
                            </tr>
                            <tr>
                                <th>Address</th>
                                <th>City</th>
                                <th>State</th>
                            </tr>
                            <tr>
                                <td>{{emp.addressLine1}}<br>{{emp.addressLine2}}</td>
                                <td>{{emp.city}}</td>
                                <td>{{emp.state}} - {{emp.zipCode}}</td>
                            </tr>
                            <tr>
                                <td colspan="3" class="text-center">
                                    Professional Info
                                </td>
                            </tr>
                            <tr>
                                <th>Hire Date</th>
                                <th>Department</th>
                                <th>Designation</th>
                            </tr>
                            <tr>
                                <td>{{emp.hireDate}}</td>
                                <td>{{emp.departmentname}}</td>
                                <td>{{emp.designationName}}</td>
                            </tr>
                            <tr>
                                <td colspan="3" class="text-center">
                                    Salary Info
                                </td>
                            </tr>
                            <tr>
                                <th>Basic Salary</th>
                                <th>Bonus & Benefits</th>
                                <th>Other Allowances</th>
                            </tr>
                            <tr>
                                <td>{{emp.basicSalary}}</td>
                                <td>{{emp.bonus}} / {{emp.benefits}}</td>
                                <td>{{emp.otherAllowance}}</td>
                            </tr>
                        </tbody>
                    </table>
                    
                </div>
            </div>
            <div class="col-md-2"></div>
        </div>
    </div>
</section>