<section class="sec1">
    <div class="container-breakpoint">
        <div id="carouselExampleCaptions" class="carousel slide carousel-fade" data-bs-ride="false">
            <div class="carousel-inner">
                <div class="carousel-item active" data-bs-interval="10000">
                    <img src="/assets/images/CG-1.png" class="d-block w-100" alt="img1">
                </div>
                <div class="carousel-item" data-bs-interval="7000">
                    <img src="/assets/images/CG-2.jpg" class="d-block w-100" alt="img2">
                </div>
                <div class="carousel-item" data-bs-interval="50000">
                    <img src="/assets/images/CG-3.jpg" class="d-block w-100" alt="img3">
                </div>
                <div class="carousel-item" data-bs-interval="30000">
                    <img src="/assets/images/CG-4.jpg" class="d-block w-100" alt="img4">
                    <div class="carousel-caption d-none d-md-block">
                        <p class="title">Stay relevant with disruptive Web & Mobile Applications</p>
                        <p class="content">Learn how can we help build loyalty, nurture leads and create next gen
                            e-commerce experiences
                        </p>
                    </div>
                </div>
                <div class="carousel-item" data-bs-interval="3000">
                    <img src="/assets/images/CG-5.jpg" class="d-block w-100" alt="img5">
                    <div class="carousel-caption d-none d-md-block">
                        <p class="title">Build innovations that matter with Product Engineering Services</p>
                        <p class="content">Learn how our product specialists can help bring your ideas to life to
                            create inspiring products as business speed
                        </p>
                    </div>
                </div>
                <div class="carousel-item" data-bs-interval="3000">
                    <img src="/assets/images/CG-6.jpg" class="d-block w-100" alt="img6">
                    <div class="carousel-caption d-none d-md-block">
                        <p class="title">Ideate. Innovate. Create. On-time delivery with a 2x performance</p>
                        <p class="content">Learn why 99% of our clients from across 5 continents and 16 countries
                            want to keep working with us
                        </p>
                    </div>
                </div>
            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions"
                data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions"
                data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Next</span>
            </button>
        </div>
    </div>
</section>